<!-- Modal -->
<div class="modal" [ngClass]="{'open': isModalOpen}">
  <div class="modal-overlay" [ngClass]="{'open': isModalOpen}">
    <div class="modal-content">

      <!-- Modal head -->
      <div class="modal-header">
        <p class="modal-header-title">Settings</p>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="text-align: center;">
        <p>Choose a language:</p>
        <div class="button-container">
          <button (click)="setLanguage('en')">English</button>
          <div style="padding-left: 2rem; padding-right: 2rem;"></div>
          <button (click)="setLanguage('it')">Italiano</button>
        </div>
      </div>

      <!-- Button Container -->
      <div class="button-container" style="padding-top: 2rem;">
        <button (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>