<div class="game-board">
    <div class="hacker-area">
        <h1 style="padding-bottom: 2rem;">
            <strong>{{ 'welcome' | translate }}</strong>
        </h1>
    </div>

    <div class="player-area">
        <button class="start-game" style="cursor: pointer;" (click)="handleModal(true)">{{ 'start' | translate
            }}</button>
        <div style="display: flex; align-items: end;">
            <i>Credits: Alemanno Giuseppe, Caiulo Fabio, Semeraro Daniele</i>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" [ngClass]="{'open': isModalOpen}">
    <div class="modal-overlay" [ngClass]="{'open': isModalOpen}">
        <div class="modal-content" style="background-color: #c13116">

            <!-- Modal head -->
            <div class="modal-header">
                <h1 class="modal-header-title">{{ 'difficulty' | translate }}</h1>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="align-items: center;">

                <div style="display: flex; flex-direction: row; justify-items: center; padding-bottom: 2rem;">
                    <button (click)="startGame('easy')" style="width: 8rem; margin: 0.5rem;">{{ 'easy' | translate
                        }}</button>
                    <button (click)="startGame('medium')" style="width: 8rem; margin: 0.5rem;">{{ 'medium' | translate
                        }}</button>
                    <button (click)="startGame('hard')" style="width: 8rem; margin: 0.5rem;">{{ 'hard' | translate
                        }}</button>
                </div>

                <div style="display: flex; flex-direction: row; justify-items: center; padding-bottom: 2rem;">
                    <button (click)="startGame('tutorial')" style="width: 8rem; margin: 0.5rem;">Tutorial</button>
                    <button class="restart hacker-area-option" (click)="handleSettingsModal(true)"
                        style="margin: 0.5rem;">{{ 'settings' | translate }}</button>

                    <app-settings-modal [isModalOpen]="isSettingsModalOpen" (closeEmit)="handleSettingsModal(false)">
                    </app-settings-modal>
                </div>
            </div>

            <!-- Button Container -->
            <div class="button-container" style="display: flex; justify-content: space-around;">
                <button (click)="handleModal(false)">{{ 'close' | translate }}</button>
            </div>

        </div>
    </div>
</div>