<!-- Modale -->
<div class="modal" [ngClass]="{'open': isModalOpen}">
    <div class="modal-overlay" [ngClass]="{'open': isModalOpen}">
        <div class="modal-content">

            <!-- Modal head -->
            <div class="modal-header">
                <p class="modal-header-title" style="padding-left: 5rem;">Help</p>
                <button (click)="closeModal()">Skip</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>{{ screens[currentScreenIndex].content }}</p>
            </div>

            <!-- Button Container -->
            <div class="button-container">
                <div style="display: flex; justify-content: start; width: 100%;">
                    <button (click)="goBack()" *ngIf="currentScreenIndex > 0">Back</button>
                </div>
                <div style="display: flex; justify-content: center; width: 100%;">
                    <span class="count-pages">{{this.currentScreenIndex+1}}/{{this.screens.length}}</span>
                </div>
                <div style="display: flex; justify-content: end; width: 100%;">
                    <button (click)="goNext()">
                        {{ currentScreenIndex === screens.length - 1 ? 'Finish' : 'Next' }}
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>